@import url('https://fonts.googleapis.com/css2? family = Raleway: wght @ 300; 400; 700 & display = swap');

:root{
    --background: linear-gradient(135deg, #0000007e 0%, #1f1f1f98 100%);
    --color-primary: #000000;
    --color-secundary: #1a1a1a;
    --botton-padding: 20px 40px;
}
body{
    font-family: 'Raleway', sans-serif;
}
html{
    scroll-behavior: smooth;
}
.container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 80px 0;
    max-width: 1200px;
}
.container__nav{
    width: 100%;
    overflow: hidden;
    max-width: 1200px;
}
.subtitle{
    color: var(--color-primary);
    font-size: 2.5rem;
    margin-bottom: 35px;
}
.hero{
    height: 100vh;
    background-image: var(--background), url("assets/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    text-align: center;
}
.hero .container{
    padding: 0;
}
.nav{
    position: absolute;
    z-index: 2;
    width: 100%;
    background-color: blue;
    position:fixed;
    display: flex;
    justify-content: center;
    height: 70px;
    align-items: center;
    font-weight: 700;
}
.nav--footer{
    font-weight: 300;
    justify-content: flex-start;
}
.nav__items{
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 15px;
    font-weight: inherit;
}
.nav__items:hover{
    text-decoration: underline;
    background: royalblue;
}
.nav__items--cta{
    border: 1px solid #fff;
}
.nav__items--footer{
    padding: 10px;
}

.hero__container{
    display: flex;
    height: calc(100vh - 70px);
    align-items: center;
    color: #fff;
}
.hero__texts{
    width: 80%;
    margin-bottom: 50px;
    margin-left: 50px;
}
.hero__title{
    font-size: 3.2rem;
}
.hero__subtitle{
    font-size: 2rem;
    font-weight: 300;
    margin: 15px 0;
}
.hero__cta{
    display: inline-block;
    background: #fff;
    padding: var(--botton-padding);
    color: var(--color-primary);
    text-decoration: none;
    border-radius: 40px;
}
.hero__wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

.presentation{
    padding-top: 0;
    text-align: center;
}
.presentation__picture{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
    object-position: top;
}
.presentation__copy{
    width: 80%;
    margin:0 auto;
    line-height: 1.5;
}
.presentation__cta{
    display: inline-block;
    margin-top: 30px;
    background: var(--color-primary);
    color: #fff;
    text-decoration: none;
    padding: var(--botton-padding);
    border-radius: 40px;
}
.about{
    min-height: 400px;
    display: flex;
    justify-content: space-evenly;
    padding: 0 40px;
    align-items: center;
}
.about__img{
    text-align: center;

}
.about__img--left{
    text-align: right;
}

.about__paragraph{
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 300;
    text-align: justify;
}

.about__picture{
    max-width: 80%;
}


.hability{
    background: #f2f2f2;
}
.hability__text{
    text-align: left;
}
.hability__grid{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.hability__item{
    height: 200px;
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 6px rgba(0, 0, 0, .8);
}
.hability__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    align-items: center;
}

.hability__hover{
    position: absolute;
    z-index: 1;
    background: #8d17978c;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: scale(0);
    transition: transform .4s ease-in-out;
}
.hability_item:hover .hability_hover{
    transform: scale(1);

}
.hability__icon{
    margin-top: 10px;
    font-size: 30px;
}
.projects{
    background: #f2f2f2;
}

.projects__grid{
    display:grid;
    height: 550px;
    grid-template-areas: 
    "img1 img1 img2 img3"
    "img1 img1 img4 img5";
    gap: 10px;
}
img{
    width: 100%;
}
.projects__item{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.projects__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    border-radius: 20px;
}
.projects__item:nth-of-type(1){
    grid-area: img1;
}
.projects__item:nth-of-type(2){
    grid-area: img2;
}
.projects__item:nth-of-type(3){
    grid-area: img3;
}
.projects__item:nth-of-type(4){
    grid-area: img4;
}
.projects__item:nth-of-type(5){
    grid-area: img5;
}

.projects__hover{
    position: absolute;
    background: #dc143c8c;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%);
    cursor: pointer;
    transition: transform .3s ease-in-out;
    border-radius: 20px;
}
.projects_item:hover .projects_hover{
    transform: translateX(0%);

}
.projects__icon{
    margin-top: 10px;
    font-size: 30px;
}

.testimony{
    background: #edeef3;
}
.testimony__grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}




.educacion__grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.educacion__review{
    text-indent: 20px;
    padding: 20px;
    font-weight: 400;
    text-align: justify;
    border-radius: 10px;
    background-color: rgb(174, 85, 185);
}
.testimony__img:hover{
    transform: scale(1.15);
}

.testimony__item{
    width: 95%;
    margin: auto;
    background: var(--color-secundary);
    box-shadow: 0 8px 10px rgba(66, 66, 66, .5);
    border-radius: 7px;
    padding: 30px 25px;
    color: #fff;
    margin-bottom: 30px;
}
.testimony__img{
    width: 100px;
    min-width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    border:3px solid #fff;
    margin-right: 30px;
    cursor: pointer;
    transition: all 300ms;
}
.testimony__person{
    display: flex;
    align-items:center;
    margin-bottom: 20px;
}
.testimony__name{
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.testimony__verification{
    color: #E0AFA0;
    font-weight: 700;
}

.testimony__review{
    font-weight: 300;
    text-align: justify;
}


.contact{
    padding-top: 0;
    text-align: center;
    padding: 80px 0;
}
.contact__copy{
    width: 80%;
    margin:0 auto;
    line-height: 1.5;
    font-size: 20px;
}


.footer{
    background: var(--color-primary);
}
.footer__grid{
    display: grid;
    grid-template-columns: 3fr;
    gap: 20px;
    align-items: center;
}
.footer__title{
    font-weight: 400%;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 30px;
    text-align:center;
}
.footer__icons{
    margin-left: 46%;
    display: inline-block;
    justify-content: space-evenly;
}

.footer__icon{
    color: #fff;
    font-size: 30px;
    text-decoration: none;
}
.fab.footer__icon{
    line-height: 60px;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}
.imagen-about-us{
    width: 70%;
    border-radius: 20px;

}
.sobre-nosotros .comtenido-textos{
    width: 48%;
}
.contenido-textos h3{
    margin-bottom: 15px;
}
.contenido-textos h3 span{
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 3px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-left: 20px;
    margin-right: 15px;
}
.contenido-textos p{
    margin-left: 40px;
    padding: 0px 0 px 30px 15px;
    font-weight: 300;
    text-align: justify;
    margin-bottom: 10px;
}
.footer__form{
    background-color: rgb(224, 213, 213);
    height: auto;
}

.titulo-footer{
    color: #fff;
    text-align: center;
    font-size: 24;
    font-weight: 300;
    margin-bottom: 64px;
}

form{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
}

input[type="text"], input[type="email"]{
    display: inline-block;
    width: 48%;
    padding: 13px;
    border: none;
    color: #fff;
    background: rgba(37, 37, 33, .7);
    margin-bottom: 16px;
    border-top: 5px solid rgba(37, 37, 33, .7);
}
input[type="submit"]{
    display: inline-block;
    background: rgba(37, 37, 33, .7);
    padding: 13px;
    border: none;
    color: #fff;
    width: 150px;
}

.boton-fondo{
    display: inline-block;
    padding: 15px;
    width: 300px;
    border: 1px solid rgba(0, 0, 0, 0.7);;
    background-color: grey;
    color: rgba(0, 0, 0, 0.7);;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    position: relative;
}